<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


		<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
			<property name="driverClassName" value="org.gjt.mm.mysql.Driver"/>
			<property name="url" value="jdbc:mysql://localhost:3306/class03?useUnicode=true&amp;characterEncoding=utf-8"/>
			<property name="username" value="scott"/>
			<property name="password" value="tiger"/>
			<!-- 커넥션풀
			<property name="minIdle" value=""/>
			<property name="maxIdle" value=""/>
			<property name="maxActive" value=""/>
			<property name="loginTimeout" value=""/>
			-->
		</bean>

		<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
			<property name="dataSource" ref="dataSource"/>
		</bean>

	
		<bean id="deptDao" class="com.bit.project02.dept.model.DeptDaoImpl1"/>
		
		<!-- 다오 안에 오토와이어를 등록한것을 인식할수있게 해주는것
		<mvc:annotation-driven></mvc:annotation-driven>
		 -->
		<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
			
</beans>
